.fotos {
  border-radius: 10px;
  width: 100%; /* This will make the image responsive */
  height: auto; /* This will maintain the aspect ratio */
  align-items: center;
  max-width: 1305px; /* This will prevent the image from being larger than 1305px */
}
